<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="reader" class="org.charleslambret.operateur.FileReader">
    </bean>
    <bean id="databaseManager" class="org.charleslambret.operateur.DatabaseManager">
    </bean>
    <bean id="processeurFichiers" class="org.charleslambret.operateur.ProcesseurFichiers">
    </bean>
    
    <bean id="operationFactory" class="org.charleslambret.operateur.OperationFactory"/>

</beans>